<div class="card card-soft h-100" style="width: 17rem; margin: 5px">
    {% if product.image %}
        <img src="{{ product.image.url }}" class="card-img-top" alt="...">
    {% endif %}
  <div class="card-body ">
    <h5 class="card-title">{{ product.title }}</h5>
    <p class="card-text card-text text-muted small mb-2">{{ product.description | truncatewords:8 }}</p>
    <p class="card-text"><i>₦</i> {{ product.price }}</p>
{#    <p class="card-text"><i>$</i> {{ product.price }}</p>#}
    <a href="{{ product.get_absolute_url }}" class="btn btn-primary " style="border-radius: 15px">View Product</a>
   <form method="POST" action="{% url "add_to_cart"  %}" style="margin-left: 50%; margin-top: -16.5%">
        {% csrf_token %}
        <input type="hidden" name = "product_id" value="{{ product.id }}">

       <button type="submit" class="btn btn-success" style="border-radius: 15px">Add to cart</button>
 </form>
  </div>
</div>




